<a href="https://colab.research.google.com/github/hamsasriveni/2216136_ALML_BootCamp/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Implement the methods of String with examples.

In [6]:
str='  hamsa Sriveni'
print(str.upper())
print(str.lower())
print(str.swapcase())
print(str.title())
print(str.capitalize())
print('no.of occurance of a:',str.count('a'))
result=str.rstrip()
print(result)
result=str.lstrip()
print(result)

  HAMSA SRIVENI
  hamsa sriveni
  HAMSA sRIVENI
  Hamsa Sriveni
  hamsa sriveni
no.of occurance of a: 2
  hamsa Sriveni
hamsa Sriveni

2.Implement the methods of List with examples

In [7]:
list=[1,5,7,8,9]
list.append(11)
print(list)
list.insert(2,3)
print(list)
list.extend([14,16])
print(list)
list.count(7)
print(list)
list.remove(8)
print(list)
list.pop(1)
print(list)
list.clear()
print(list)

[1, 5, 7, 8, 9, 11]
[1, 5, 3, 7, 8, 9, 11]
[1, 5, 3, 7, 8, 9, 11, 14, 16]
[1, 5, 3, 7, 8, 9, 11, 14, 16]
[1, 5, 3, 7, 9, 11, 14, 16]
[1, 3, 7, 9, 11, 14, 16]
[]

3. Implement the methods of Tuple with examples

In [9]:
t1=(2,3,4,5,6,7)
res=t1.count(3)
print(res)
res=t1.index(5)
print(res)
print(max(t1))
print(min(t1))
print(len(t1))

1
3
7
2
6

4. Implement the methods of Dictionary with examples

In [11]:
d1={'name':'hamsa','addr':'hnk'}
print(d1['addr'])
print(d1.keys())
print(d1.values())
print(d1.get('addr'))

hnk
dict_keys(['name', 'addr'])
dict_values(['hamsa', 'hnk'])
hnk

5. Implement the methods of Set with examples.

In [12]:
s1={"hamsa","laxmi","deepak"}
s1.add("harshu")
print(s1)
s1.discard("laxmi")
print(s1)
s2={"sragvi","harsha","reddy"}
s1.update(s2)
print(s1)

{'laxmi', 'deepak', 'harshu', 'hamsa'}
{'deepak', 'harshu', 'hamsa'}
{'deepak', 'harsha', 'sragvi', 'reddy', 'harshu', 'hamsa'}

6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method

In [15]:
dec = 25
print("The decimal value of", dec, "is:")
print(bin(dec), "binary.")
print(oct(dec), "octal.")
print(hex(dec), "hexadecimal.")

The decimal value of 25 is:
0b11001 binary.
0o31 octal.
0x19 hexadecimal.

7. Implement Arithmetic operators with examples.

In [17]:
a=8
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)

14
2
48
1.3333333333333333
1

8. Implement Assignment operators with examples

In [25]:
a=8
b=5
b+=a
print(b)
b*=a
print(b)

13
104

9. Implement Comparison operators with examples

In [29]:
x = 11
y = 12
print('x > y is',x>y)
print('x < y is',x<y)
print('x == y is',x==y)
print('x != y is',x!=y)
print('x >= y is',x>=y)
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

10. Implement Logical operators with examples.

In [30]:
x = True
y = False
print('x and y is',x and y)
print('x or y is',x or y)
print('not x is',not x)

x and y is False
x or y is True
not x is False

11. Implement Bitwise operators with examples

In [31]:
a=12
b=13
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<3)
print(~b)
print(b>>2)
print(b<<3)

12
1
13
-13
3
96
-14
3
104

12. Implement Membership operators with examples.

In [32]:
x = 'Hello world'
y = {1:'a',2:'b'}
print('H' in x)
print('hello' not in x)
print(1 in y)
print('a' in y)

True
True
True
False

13. Implement Identity operators with examples

In [33]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

14. Demonstrate Negative indexing for List and apply slicing.

In [37]:
list = [1,6,8,3,5,2,4]
K = 3
res = ~list[::-1].index(K)
print("The required Negative index :",res)

The required Negative index : -4

Predict the output for the given code snippet and justify the result

In [39]:
print('A series of characters designed as one object known as a string'[::-1][4::3])
print("--------------")
print('Welcome to python training program'[3:10][::-1])

taawkcbe  ns eahfsr
--------------
ot emoc

16.Write a python code to get desired output

In [38]:
p_phrase="was it a car or a cat I saw"
print(p_phrase[::-1])
print(p_phrase.upper())

was I tac a ro rac a ti saw
WAS IT A CAR OR A CAT I SAW

17. You are required to generate a word similar to ZOO, X and Y that denote the number
of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X.
 Input X= 2 Output ZZOOOO
 Input X= 5 Output ZZZZZOOOOOOOOOO